#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[pt_PT]=/usr/share/icons/.sdesk.png
Name[pt_PT]=Change Desktop
Exec=/sbin/changedesktop.sh
Name=Change Desktop
Icon=/usr/share/icons/.sdesk.png
