[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=gksu -D ZIF_install python /sbin/zif_install.py %f
Name=gksu
Comment=Custom definition for gksu
