[Desktop Entry]
Type=Application
Exec=openbox
Hidden=false
X-MATE-Autostart-enabled=true
Name[pt_PT]=ZED_devilspie
Name=ZED_devilspie
Comment[pt_PT]=
Comment=
Name[en_US]=WM
