[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/Fog/32x32/places/start-here.png
Name[en_US]=ZED Services
Exec=/sbin/zstartup.sh
Name=ZED Services
Icon=/usr/share/icons/Fog/32x32/places/start-here.png
Comment[en_US]=ZED Services startup
